/* ----------------------------------------------------------- */
/*                         BASICS                              */
/* ----------------------------------------------------------- */


body, html{
 height: 100%;
}

body.noscrollbar {
  overflow: hidden;
}

.hidden{
 display: none;	
}

.float-left{
	float: left;
}

img.float-left{
	float: left;
	margin-right: 10px;
}

.float-right{
	float: right;
}

.center{
	text-align: center;
}

.left{
	text-align: left;
}


.italic{
	font-style: italic;
}

.separator{
  height: 1px;
  border-top: 1px solid #000;
}

.circle {
	-webkit-border-radius: 50em;
	-moz-border-radius: 50em;
	border-radius: 50em;
}

.boxsizing{
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;	
}

.boxsizing img{
  display:block;
}

.alignleft{
 text-align: left;
}



.preloader.gallery,
.preloader.main {
	position: fixed;
	width: 50px;
    height: 50px;
	-webkit-border-radius: 50em;
    -moz-border-radius: 50em;
    border-radius: 50em;
	background: #fff url(../images/icons/preloader_dark.gif) no-repeat center center;
	top: 50%;
	left: 50%;
	margin-left: -25px;
	margin-top: -25px;
	z-index: 999999;
}

.preloader.gallery {
	background: #fff url(../images/icons/preloader.gif) no-repeat center center;
	display: none;
	top: 10px;
	left: 100%;
	margin-left: -60px;
	margin-top: 0;
}


.circle-wrap {
	-webkit-border-radius: 50em;
	-moz-border-radius: 50em;
	border-radius: 50em;
}

.inner-border{
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  border:10px solid #e8065c;
}

img.circle-wrap.inner-border{
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

img.circle-wrap.inner-border:hover{
	border-width: 0px;
}

.mobile .inner-border{
  border: none;
}

.highlightBg{
 padding: 0 3px;	
}

.test{
	padding: 20px;
	background: #fff;
	position: fixed;
	z-index: 9999999;
}



/* ----------------------------------------------------------- */
/*                       FONT AWESOME                          */
/* ----------------------------------------------------------- */

@font-face {
  font-family: 'FontAwesome';
  src: url('../font/fontawesome-webfont.eot');
  src: url('../font/fontawesome-webfontd41d.eot?#iefix') format('embedded-opentype'), url('../font/fontawesome-webfont.woff') format('woff'), url('../font/fontawesome-webfont.ttf') format('truetype'), url('../font/fontawesome-webfont.svg#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}



.faIcon {
	
	position: relative;
	width: 32px;
	height: 32px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 20px;
	cursor:default;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;

	
}

.faIcon.bordered{
	/*display: block;*/
	width: 100px;
	height: 100px;
	/*
  -webkit-border-radius: 50em;
	-moz-border-radius: 50em;
	border-radius: 50em;
	border: 5px solid #fff;
	*/
}

.faIcon.bordered:before{
	top: 35px;
	left: 5px;
}



.faIcon:before {

	font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    *margin-right: .3em;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #e8065c;
    font-size: 35px;
    position: relative;
	/*display:inline-block;*/
    left: 0;
	top: 1px;
	margin-right: 10px;
	
	/*
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	*/
 
}

.faIcon.alignTop:before {
   top: 15px;	
}

.faIcon.small:before{
	font-size: 20px;
	top: -2px;
}

.faIcon.tiny:before{
	font-size: 14px !important;
}

.faIcon.tiny.mobile:before{
	font-size: 18px !important;
	top: 3px;
}

.faIcon.tiny.envelope:before{
	top: 0px;
}

.faIcon.magic:before { content: '\f0d0'; top: 37px;}
.faIcon.desktop:before { content: '\f108'; top: 6px;}
.faIcon.laptop:before { content: '\f109'; }
.faIcon.tablet:before { content: '\f10a'; }
.faIcon.mobile:before { content: '\f10b'; }
.faIcon.rocket:before { content: '\f135'; }
.faIcon.html5:before { content: '\f13b'; font-size: 52px;}
.faIcon.beaker:before { content: '\f0c3';font-size: 54px; }

.faIcon.profile:before { content: '\f007';}
.faIcon.resume:before { content: '\f085';}
.faIcon.portfolio:before { content: '\f0ce';}
.faIcon.news:before { content: '\f0e6';}
.faIcon.contact:before { content: '\f003';}
.faIcon.book:before { content: '\f02d';}
.faIcon.briefcase:before { content: '\f0b1';}
.faIcon.tasks:before { content: '\f0ae';}
.faIcon.calendar:before { content: '\f073';}
.faIcon.heart:before { content: '\f004';}
.faIcon.globe:before { content: '\f0ac'; font-size: 40px;}
.faIcon.globe:before { content: '\f0ac'; font-size: 40px;}
.faIcon.camera:before { content: '\f030';}
.faIcon.martini:before { content: '\f000';}
.faIcon.food:before { content: '\f0f5';}
.faIcon.headphones:before { content: '\f025';}
.faIcon.envelope:before { content: '\f003';}
.faIcon.phone:before { content: '\f095';}
.faIcon.inbox:before { content: '\f01c';}
.faIcon.desktop:before { content: '\f108';}
.faIcon.mapmarker:before { content: '\f041';}
.faIcon.male:before { content: '\f183';}
.faIcon.female:before { content: '\f182';}
.faIcon.sitemap:before { content: '\f0e8';}
.faIcon.video:before { content: '\f03d';}
.faIcon.twittersign:before { content: '\f081';}
.faIcon.star:before { content: '\f005';}
.faIcon.signal:before { content: '\f012';}
.faIcon.arrowRight:before { content: '\f178'; font-size: 28px; line-height: 12px;}
.faIcon.arrowLeft:before { content: '\f177'; font-size: 28px; line-height: 12px; margin:0;}
.faIcon.mapMarker:before { content: '\f041';}
.faIcon.envelope:before { content: '\f0e0';}
.faIcon.comments:before { content: '\f086';}
.faIcon.search:before { content: '\f002';}
.faIcon.searchplus:before { content: '\f00e';}
.faIcon.searchminus:before { content: '\f010';}
.faIcon.filetext:before { content: '\f15c';}
.faIcon.tags:before { content: '\f02c';}
.faIcon.sharesquare:before { content: '\f045';}
.faIcon.arrowcircleleft:before { content: '\f0a8';}
.faIcon.arrowcircleright:before { content: '\f0a9';}
.faIcon.crosscircle:before { content: '\f057'; font-size: 28px;}





.faIcon.magic:hover:before { top: 42px;}
.faIcon.html5:hover:before { top: 40px;}
.faIcon.mobile:hover:before { top: 41px;}
.faIcon.beaker:hover:before { top: 40px;}

.faIcon.comments.small:before{
	font-size: 18px;
}

.blogSingle .faIcon.comments.small:before{
	font-size: 22px;
}

/* ----------------------------------------------------------- */
/*                     ADDTHIS SHARING                         */
/* ----------------------------------------------------------- */

.addthis_toolbox_share a span{
 display: none;
}


.addthis_toolbox_share li{
	display: inline;
	position: relative;
  padding: 0 6px 0 11px;
}

.addthis_toolbox_share li:after {
	content: '';
	position: absolute;
	
	top: 3px;
	left: 0;
	width: 1px;
	height: 8px;
	border-left: 1px solid #000;
}

.addthis_toolbox_share li:first-child:after {
	border: none;
}

.addthis_toolbox_share li:first-child{
	padding-left: 0;
}
/* ----------------------------------------------------------- */
/*                           VEGAS                             */
/* ----------------------------------------------------------- */

.vegas-background {
	-ms-interpolation-mode: bicubic;
	image-rendering: optimizeQuality;
    max-width: none !important; /* counteracts global img modification by twitter bootstrap library */
	z-index: -2;
	position: absolute !important;
}

.vegas-overlay,
.vegas-background {
	-webkit-user-select: none;
	 -khtml-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}


.bgImage{
	position: fixed;
}

.wrapper {
  float: left;
  width: 100%;
  overflow: hidden;
}

/* ----------------------------------------------------------- */
/*                      SOCIAL ICONS                           */
/* ----------------------------------------------------------- */
.socialIcons{
	position: relative;
	/*display: inline-block;*/
	margin: 0 auto;
	z-index:20;
}

.socialIcons li{
	position: relative;
	display: inline;
	list-style: none;

	float: left;
	width: 30px;
	height: 30px;
	overflow: hidden;
    margin-bottom: 5px;
	text-align: center;
	margin-right: 1px;
	
	/*
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	*/

}

.socialIcons li a{
	/*background-repeat: no-repeat;*/
	background-position: left top;
	/*display: block;*/
	height: 30px;
	width: 30px;
}

footer{
	background: transparent;
}

footer .socialIcons li{
  margin-bottom:0;
  	width: 40px;
	height: 40px;
}

footer .socialIcons li a{
	height: 40px;
	width: 40px;
}


footer .socialIcons li span{
	/*display: inline-block;*/
	color: #000;
	font-size: 11px;
	padding: 5px 10px 0 10px;
	float: right;
}



.socialIcons li a:before{
	
	/*
	font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    *margin-right: .3em;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    color: #e8065c;
    font-size: 16px;
    position: relative;
	display:inline-block;
    top: 6px;
    left: 1px;

	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	*/
 
}

footer .socialIcons li a:before{
	top: 11px;
}



@media only screen and (max-width: 767px) {
	

	
}


@media only screen and (min-width: 480px) and (max-width: 767px) {

	

}


/* ----------------------------------------------------------- */
/*                      CONTACT PAGE                           */
/* ----------------------------------------------------------- */


/* contact form */
.container.contact{

}

.contactForm{
  display: inline-block;
	margin-top: 6px;
}

.contactForm hr {
    color: inherit;
    height: 0;
    margin: 6px 0 6px 0;
    padding: 0;
}

.quote span.black{
 display: inline-block;
  margin-bottom: 8px;
}



/* Form style */

.contactForm p.info{
  display: inline;
}
.contactForm1 p.info{
  display: inline;
}
.contactForm label {
    display: inline-block;
    float: left;
    height: 26px;
    width: 155px;

}
.contactForm1 label {
    display: inline-block;
    float: left;
    height: 26px;
    width: 155px;

}
.contactForm label input{
    display: inline-block;
    float: left;
    height: 18px;
}
.contactForm1 label input{
    display: inline-block;
    float: left;
    height: 18px;
}
.contactForm input {
	//width: 280px;
    height: 45px;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	margin: 0;
	margin-bottom: 10px;
	padding-left: 18px;
	color:#000;
	border: 1px solid #D3D3D3;
    font-size: 15px;
	float: left;
}

.contactForm1 input {
	//width: 450px;
    height: 45px;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	margin: 0;
	margin-bottom: 10px;
	padding-left: 18px;
	color:#000;
	border: 1px solid #D3D3D3;
    font-size: 15px;
	//float: left;
	width:100%;
}

.contactForm1 input:first-child{
	margin-right: 10px;	
}


.contactForm #left input{
	margin-right: 10px;	
}


.contactForm select 
{
    //width: 450px;
    padding: 12px;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	margin: 0;
	margin-bottom: 10px;
	padding-left: 18px;
	color:#000;
	border: 1px solid #D3D3D3;
    font-size: 15px;
	float: left;
	-webkit-appearance: none;
}
.contactForm1 select 
{
    //width: 450px;
    padding: 12px;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	margin: 0;
	margin-bottom: 10px;
	padding-left: 18px;
	color:#000;
	border: 1px solid #D3D3D3;
    font-size: 15px;
	//float: left;
	width:100%;
	-webkit-appearance: none;
}
.contactForm textarea{
	width: 100%;
	margin-bottom: 5px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	padding: 18px;
	color:#fff;
	border:none;
	color:#000;
	border: 1px solid #D3D3D3;
	font-size: 15px;
	clear: both;
}

.contactForm1 textarea{
	//width: 570px;
	width:100%;
	margin-bottom: 5px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	padding: 18px;
	color:#fff;
	border:none;
	color:#000;
	border: 1px solid #D3D3D3;
	font-size: 15px;

}
.contactForm input[type="text"], .contactForm textarea {
	-webkit-transition: all 0s ease-out;
	-moz-transition: all 0s ease-out;
	-o-transition: all 0s ease-out;
	-ms-transition: all 0s ease-out;
	transition: all 0s ease-out;
}
.contactForm1 input[type="text"], .contactForm textarea {
	-webkit-transition: all 0s ease-out;
	-moz-transition: all 0s ease-out;
	-o-transition: all 0s ease-out;
	-ms-transition: all 0s ease-out;
	transition: all 0s ease-out;
}
.contactForm input:focus,
.contactForm textarea:focus{
	border-width: 3px;
}

.contactForm1 input:focus,
.contactForm1 textarea:focus{
	border-width: 3px;
}



.contactForm input.submit,.wpcf7-submit btn {
 border-width:0px;
  margin:0;
  margin-top: 5px;
  margin-bottom: -7px;
  padding:3px 12px 4px 12px;
  width: auto;
  height: auto;
  float: right;
  color: #fff;
  text-transform: uppercase;
  display: block;
  background-color: #2aabe2;
  font: 17px/20px 'Oswald', Arial, sans-serif;
  cursor: pointer;
  	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;

}
.contactForm1 input.submit {
 border-width:0px;
  margin:0;
  margin-top: 5px;
  margin-bottom: -7px;
  padding:3px 12px 4px 12px;
  width: auto;
  height: auto;
  float: right;
  color: #fff;
  display: block;
  background-color: #015a9c;
  font: 17px/20px 'Oswald', Arial, sans-serif;
  cursor: pointer;
  	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;

}
@-moz-document url-prefix() {
   .mailchimp input[type="submit"]{
	  padding:19px 22px;
	}
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  .contactForm input.submit {
	 padding:8px 12px 7px 12px; 
  }
}

.contactForm input.submit:hover{
  background-color: #fefefd;
  color: #000;
}



.contactForm input[type="submit"][disabled] {
    background: #888;
    cursor: default;
}

.contactForm fieldset {
}

.contactForm label.radio {
    display: block;
    width: 100%;
	margin: 0px 0 0px 0;

}


.contactForm #verifyImage{
  width: auto;
  margin: -5px 20px 0 0px;
  float: left;
}

.contactForm #verifyImage img{
 border:none;
}

.contactForm #verify{
  width: auto;
  margin: -5px 20px 0 0;
 float: left;
}
.contactForm p{
  margin-bottom: 8px;
}
.verifyText{
  margin-top: 3px;
  margin-bottom:40px;
}


.contactForm span.required {
    font-size: 13px;
} /* Select the colour of the * if the field is required. */

#message {

    padding: 0;

}

.error_message {
    display: block;
    line-height: 22px;
    border: none;
    background: none;
    padding: 0;
    margin-bottom: 20px;
}



ul.error_messages {
    margin: 0 0 0 0px;
    padding: 0;
}

ul.error_messages li {
   
    line-height: 22px;

}

.loader {
    padding: 0 10px;
}

.contactForm #success_page {
    display: block;
    line-height: 22px;
    border: 1px solid #6dd900;
    background: #c8f7a8 url(../images/icons/success.html) no-repeat 15px 12px;
    padding: 14px 15px;
    padding-left: 55px;
}


input[type="checkbox"] {
    width: 20px !important;
    margin: 4px 0 0;
    margin-top: 1px \9;
    float: left;
    *margin-top: 0;
    line-height: normal;
    cursor: pointer;
}

input[type="radio"] {
    width: 20px !important;
}


.error_message h2{
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
	line-height: 40px;
  margin-bottom: 10px;
	color: #f00;
}

.contactForm #success_page h2{
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
	line-height: 40px;
  margin-bottom: 10px;
    color: #00b200;	
}

.contactForm #success_page {
    display: block;
    line-height: 22px;
    border: none;
    background: none;
    padding: 0;
}



@media only screen and (max-width: 767px) {
	

	.contactForm input {
		width: 100%;	
	}

}



/* ----------------------------------------------------------- */
/*                         NAVIGATION                          */
/* ----------------------------------------------------------- */

.logo{
	position:relative;
	top: 10px;
	  float: right;
	  right: 10px;
	  height: 81px;
}

.logo img{
  display: block;
  height: 100%; 
  max-height: 100%; 
  width: auto;
  }
  

.header{
	height: auto;
	width: 100%;
	position:fixed;
	z-index: 99999;
height: 1px;
}

nav.main{
  z-index: 99999;
  position: relative;
  right: 10px;
  clear: both;
  top: 20px;
  float: right;
}


nav.main .famenu{
	width: 75px;
	height: 58px;
	cursor: pointer;
	position: relative;
	text-align: center;
    float: right;
	-webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
	z-index: 9999;
}


.mobile nav.main .famenu{
	pointer-events: none;
}



/*.menu-primary-container, {*/
nav.main ul{
	display: inline;
	margin:0;
	position: relative;
	float: right;
	-webkit-transition: all 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -moz-transition: all 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -ms-transition: all 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -o-transition: all 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    transition: all 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */
	left: 110%;
}

nav.main ul.open{
	left: 0;
}

nav.main ul li{
	position: relative;
	float: left;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

nav.main ul li a{
	
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	line-height: 18px;
	padding: 20px 15px;
	position: relative;
	float: left;
	
	
	text-align: center;
	
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

nav.main ul li > a{
	text-transform: uppercase;
}
/*submenu*/
nav.main ul li ul{
	position: absolute;
	left: 0;
	top: 55px;
	width: 230px;
	
  	opacity:1;
	filter: alpha(opacity=100);
	height:0 !important;
	overflow: hidden;
	-webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

}

nav.main ul li:hover ul{
	height: auto !important;
	overflow: hidden;
    opacity: 1;
	filter: alpha(opacity=100);
	padding-bottom: 10px;
}

nav.main ul li ul:before{
	content: '';
	position: absolute; 
	display: block;
	top: -10px;
	left:-10px;
	
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 10px 10px 0 0;
	border-color: #2aabe2 transparent transparent transparent;
	
	-webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

nav.main ul li:hover ul:before{
	top:0;
	left:0;
}

nav.main ul li ul li{
	text-align: left;
	width: 210px;
	margin-left: 10px;
}

nav.main ul li ul li:first-child{
	margin-top: 10px;
}

nav.main ul li ul li a{
	
	padding: 10px 10px;
	text-transform: initial;	
}
/*icon*/
nav.main .famenu:before{

	font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    *margin-right: .3em;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #e8065c;
    font-size: 30px;
    position: relative;
	display:inline-block;
     top: 22px;
    left: 0;
	
	
	-webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
	
 
}

nav.main .famenu:before { 
  content: '\f0c9'; 
  font-size: 21px; 
  line-height: 17px;
  height: 15px;
}


nav.main form {
    display: none;
}

nav.main form {
  position: absolute;

  width: 75px !important;
  height: 75px !important;
  right: 0px;
}

nav.main form{
	display: inline-block;
}
	
nav.main form select {
  padding: 18px 10px 20px 10px;
  line-height: 70px !important;	
}

nav.main form select.bordered {
    border-bottom:solid 36px transparent;
    border-top:solid 37px transparent;
	
}




/* #Tablet (Portrait)
================================================== */
@media only screen and (min-width: 768px) and (max-width: 999px) {
	

}


/*  #Mobile (Portrait)
================================================== */
@media only screen and (max-width: 767px) {
	
	nav.main{
		top:10px;
		clear: none;
	}
	
	nav.main .famenu{
		pointer-events: none;
	}
	
	nav.main ul{
		display: none;
	}
	
	nav.main form{
		display: inline-block;
	}
	
	.mobile nav.main .famenu{
		pointer-events: none;
	}
	
	.header{
		height: 95px;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, .4);
	}
	
	.logo{
		height: 75px;
		float: left;
	}
}


/* #Mobile (Landscape)
================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	
}


/* ----------------------------------------------------------- */
/*                        MAIN CONTENT                         */
/* ----------------------------------------------------------- */
.container{
    z-index:0;
	margin-bottom: 10px;
	margin-left: -600px;
-webkit-transition: all 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
   -moz-transition: all 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -ms-transition: all 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
     -o-transition: all 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
        transition: all 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */
}



.container.animate{
		//margin-left: 10px;
}

a.link{
	border-bottom: 0px solid #000;
	-webkit-transition: all 0.1s ease-out;
	-moz-transition: all 0.1s ease-out;
	-o-transition: all 0.1s ease-out;
	-ms-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;
}

a.link:hover{
	border-width: 2px;
}


header.main{
	padding: 45px 0  20px;
}



header.main p{
	font-size: 22px;
	line-height: 35px;
	margin-bottom: 0;
	margin-top: 8px;
	padding: 0 20px;
}

.entry-main-text{
	font-size: 22px;
	line-height: 35px;
	margin-bottom: 0;
	margin-top: 8px;
	//padding: 0 20px;
	text-align: center;	
}


header.lineOnSides{
	position: relative;

}

header.lineOnSides h2 {
  background: white;
  display: inline-block;
  padding: 0 10px;

}

header.lineOnSides h2:after {
  content: "";
  height: 1px;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 14px;
  z-index:-1;
  border-top: 1px solid #ffffff;
}



/*grey box*/
.greyBox{
  padding: 18px 40px 12px 40px;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}


.greyBox span:before{

	font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    *margin-right: .3em;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    font-size: 21px;
    position: relative;
	display:inline-block;
    left: 0;
	top:0px;
	margin-bottom: 10px;
	
	
	-webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
	
 
}

.greyBox span.speech:before{
	<--content: '\f10d';-->
}
.greyBox span.flag:before{
	content: '\f024';
}



.teamInfo{
	padding-top: 5px;
}

.iconBox{
 padding-left: 60px;
   box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
 
}

.iconBox .faIcon{
	position: absolute;
    left:0;
    top:4px;
}

.iconBox h2{
	margin-bottom: 8px;
}


h3.icon{
  margin-bottom: 0px !important;
  position: relative;
}

h3.icon span{
display: inline-block;
  position: absolute;
  top:0;
  line-height: 12px;
  width: auto;
  height: auto;
  padding-left: 5px;
}


footer{

	position: fixed;
	right: 10px;
	bottom: 10px;
}

footer ul{
  float: left;
  margin:0;
}

.copyright{
  height:40px;
  float: right;
  padding: 0 4px;
}



@media only screen and (max-width: 767px) {

	.header{
		width: 100%;
	}
	
	.logo{
		right: 0px;
		left: 10px;
	}
	
	footer{
		//background: #fff;
		width: 100%;
		right: 0;
		bottom:0;
		box-shadow: 0px -2px 5px rgba(0, 0, 0, .4);
	}
	
	
	footer ul{
		float: right;
	}
	
	.copyright{
		float: left;
	}
	
	
	.container.animate{
		margin-left: auto;
		margin-right: auto;
		-webkit-transition: none;
   -moz-transition: none;
    -ms-transition: none;
     -o-transition: none;
        transition: none;
	}
	
}



@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	
}


/* ----------------------------------------------------------- */
/*                         HOME PAGE                           */
/* ----------------------------------------------------------- */
.wrapper.home{
	height: 268px;
	background-color: transparent;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#7F000000', endColorstr='#7F000000');
	top: 50%;
	margin-top: -134px;
	position: absolute;
	text-align: center;
	overflow: visible;
}


.wrapper.home header h1,
.wrapper.home header p{
	color: #fff;
	margin:0;
	margin-top: -300px;
	-moz-transition: all 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-ms-transition: all 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-o-transition: all 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
	transition: all 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */
}

.wrapper.home header h1.animate,
.wrapper.home header p.animate{
	margin-top: 0px;
}
    
.wrapper.home header p{
	font-size: 25px;
	line-height: 35px;
	  padding: 0 20px;
}
    
.wrapper.home header h1{
	padding-top: 55px;
	padding-bottom: 25px;
}
    
.wrapper.home header{
	min-height: 268px;
	position: relative;
	overflow: hidden;

}

.homeSliderNav{
	display: inline-block;
	position: relative;
	top: 0px;
	margin-top: 20px;
 
}
.homeSliderNav li{
	position: relative;
	display: inline;
	float: left;
	width: 50px;
	height: 9px;
	background: #eee;
	border: 1px solid #eee;
	margin-left: 5px;
	cursor: pointer;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

@media(max-width: 767px){

	.homeSliderNav li{
		width:30px;
	}
}
.homeSliderNav li.selected{
    cursor: default;
}

.homeSliderNav li:first-child{
    margin-left: 0;
}


@media only screen and (max-width: 767px) {
	
	.wrapper.home header p{
		font-size: 16px;
		line-height: 23px;
	}
		
	.wrapper.home header h1{
		font-size: 30px;
		padding-top: 35px;
		padding-bottom: 15px;
	}
	
}



@media only screen and (min-width: 480px) and (max-width: 767px) {
	
		.wrapper.home header p{
		font-size: 18px;
		line-height: 28px;
	}
		
	.wrapper.home header h1{
		font-size: 50px;
		padding-top: 55px;
		padding-bottom: 25px;
	}
}

/* ----------------------------------------------------------- */
/*                        BLOG META                            */
/* ----------------------------------------------------------- */
.blogTitle h2{
	margin-top: -7px;
	margin-bottom:0;
}
.blogMeta{
	padding: 20px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;	
}

.blogMeta .date{
	position: relative;
	float: left;


}

.blogMeta .date .day{
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	line-height: 27px;
	border-right: 2px solid #000;
	display: block;
	max-width: 36px;
	max-height: 27px;
	float: left; 
	margin-right: 5px;
	padding-right: 5px;
}

.blogMeta .date .month,
.blogMeta .date .year{
	position: relative;
	float: left; 
	display: block;
	width: 50%;
	line-height: 10px;
	font-size: 11px;

}

.blogMeta .date .month{
	margin-bottom: 7px;
}


.blogMeta .meta{
	position: relative;
	float: right;
	display: block;
	width: 70%;

}

.blogMeta .meta .commentNumber{
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	line-height: 27px;
  	max-height: 27px;
	border-left: 2px solid #000;
	display: block;
	float: right; 
	margin-left: 5px;
	padding-left: 10px;
}

.blogMeta .meta .commentNumber .faIcon{
	cursor: pointer;
    top: 3px;
	width: 23px;
}

.blogSingle .blogMeta .meta .commentNumber .faIcon{
	cursor: pointer;
    top: 10px;
	width: 27px;
}

.blogMeta .meta .category,
.blogMeta .meta .tags{

	float: right; 
	text-align: right;
	line-height: 10px;
	font-size: 11px;
	width:60%;
}

.blogMeta .meta .category{
	margin-bottom: 7px;
}

.blogMeta .meta .comments{
	float: left;
	line-height: 10px;
	margin:0;
	top:0;
	right:0;
	width: 25px;

}

.pagination ul{
	position: relative;
	display: inline;	
}

.pagination ul li{
	position: relative;
	float: left;
	margin-right: 1px;
 
}

.pagination ul li a{
    position: relative;
	float: left;	
}

.pagination ul li a,
.pagination ul li.current{
	
	padding: 10px 0 13px 0;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	font-size: 17px;
	line-height: 17px;
	font-family: 'Oswald', sans-serif;
	width: 40px;
	text-align: center;
	
}


/*Blog single*/

.blogSingle header{
	padding: 20px 0 15px 0;	
}

.blogSingle .blogMeta{
	border: none;
	padding: 0;
	padding-bottom: 7px;
}

.blogSingle .posted{
	float: left;
}

.blogSingle .meta{
	width: auto !important;
}

.blogSingle .meta .commentNumber{
	border: none;
	font-size: 20px;
}

.blogSingleNav {
	position: relative;
	float: left;
	width: 245px;
	margin-left: 10px;
	padding: 20px;
	padding-left: 0;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.blogSingleNav.previous {
	margin-left: 0px;
	padding-left: 20px;
	padding-right: 0px;
}

.blogSingleNav div{
	margin-bottom: 20px;
    margin-top: 6px;
    margin-bottom: 22px;
}
  
  .blogSingleNav div h4{
      margin-top: -4px;
      margin-bottom: 3px;
    }

.blogSingleNav div h4,
.blogSingleNav div span{
	float: left;
	width: 155px;
	text-align: right;
	margin-right: 10px;
}

.blogSingleNav.next div h4,
.blogSingleNav.next div span{
	float: right;
	text-align: left;
	margin-right: 0;
	margin-left: 10px;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;

}

.blogSingleNav .faIcon{
      pointer-events: none;

	  z-index: 9999 !important;
}
    
.blogSingleNav.next .faIcon{
      left: 208px;
}
    

/*Comments*/
.comments ul{
	margin-bottom: 26px;
}
.comments h2{
	margin-bottom: 36px;	
}

.comments h2.tight{
	margin-bottom: 8px;	
}
.comment.depth-1{
	width: 100%;	
}

.comment.depth-2{
	width: 440px;
	padding-left: 20px;
}

.comment.depth-3{
	width: 420px;	
	padding-left: 40px;
}

.comment .commentHeader{
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
.comment .commentHeader img{
	float: left;
  margin-right: 10px;
}

.comment .commentHeader h3{
  margin-bottom: 0;
  margin-top: 5px;
  margin-bottom: 0px;
}

.comment .reply{
display: block;
  margin-top: 23px;
  margin-bottom:6px;
}
.comment .reply a{
  color: #000;
  border-top: 1px solid #000;
  padding-top: 7px;
}



@media only screen and (max-width: 767px) {

	.blogMeta .meta{
		width: 100%;
	}
	
	.blogMeta .meta .category,
	.blogMeta .meta .tags{
		width:100%;
	}
	
	.blogMeta .meta .commentNumber{
		margin-bottom: 10px; 
	}
	
	.blogSingleNav {
		width: 300px;
		margin-left: 0;
	}
	
	.blogSingleNav.previous {
		margin-bottom: 10px;
	}
	
	.blogSingleNav.next .faIcon{
		left: 265px;
	}
	
	.blogSingleNav div h4,
	.blogSingleNav div span{
		width: 210px;
	}
	
	.blogSingle .meta{
		float: left;
	}
	
	.comment.depth-2{
		width: 250px;
	}
	
	.comment.depth-3{
		width: 230px;	
	}
	


	
}



@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	.blogMeta .meta{
		width: 60%;
	}
	
	.blogMeta .meta .category,
	.blogMeta .meta .tags{
		width:100%;
	}
	
	.blogMeta .meta .commentNumber{
		margin-bottom: 10px; 
	}
	
	.blogSingleNav {
		width: 205px;
	}
	
	.blogSingleNav.next {
		margin-left: 10px;
	}
	
	.blogSingleNav.next .faIcon{
		left: 170px;
	}
	
	.blogSingleNav.previous {
		margin-bottom: 0px;
	}
	
	.blogSingleNav div h4,
	.blogSingleNav div span{
		width: 115px;
	}
	
	.blogSingle .meta{
		float: right;
	}
	
	.comment.depth-2{
		width: 370px;
	}
	
	.comment.depth-3{
		width: 350px;	
	}
}

/* ----------------------------------------------------------- */
/*                         SIDEBAR                             */
/* ----------------------------------------------------------- */

aside { 
	position: fixed; 
	display: block;
	float: left;
	top:-100%;
	left: 1000px;
	width: 265px; 
	margin: 10px 0 0 10px; 
	padding: 0;
	-webkit-transition: all 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -moz-transition: all 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -ms-transition: all 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -o-transition: all 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    transition: all 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */
}

aside.animate {
		top:0px;
}

aside .sidebar{
	padding: 15px 20px 1px 20px;
	width: 340px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	position: relative;
}

aside .sidebar:before{
	content: '';
	position: absolute; 
	display: block;
	top: 1px;
	left:1px;
	
	width: 0px;
	height: 0px;
	/*border-style: solid;
	border-width: 10px 10px 0 0;
	border-color: #000 transparent transparent transparent;*/
}


aside .search{
	padding:0;
	margin:0;
	margin-bottom: 3px;
}

aside .search input[type="text"] {
	border: 1px solid transparent;
	width: 220px;
	padding: 12px 15px 12px 15px;
	float: left;
	margin: 0;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	z-index: 9999;
	font-size: 15px;
	font-family: 'Droid Sans', Arial, sans-serif;
}

.ie8 aside .search input[type="text"] {
	padding-top: 14px;
}

aside .search span.input{
	position: relative;
	display: inline-block;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

aside .search span.input:before {
	position: absolute; 
	display: block; 
	content: '';
	border: 2px solid red;
	width: 216px;
	height: 41px;
	top: 2px;
	left: 2px;
	box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	pointer-events: none;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.ie8 aside .search span.input:before{
	display: none;	
}


aside .search form {
	float: left;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	margin:0;
	padding:0;
}

aside .search form.focus {

}

aside .search input[type="submit"] {
    width: 45px;
    height: 45px;
    padding: 0;
    margin: 0;
    border: none;
    float: left;
    cursor: pointer;
    margin-left: -4px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

aside .search form.focus input[type="submit"] {

}

aside .search span.submit{
	position: relative;
	display: inline-block;
}

aside .search span.submit:before {

	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
	*margin-right: .3em;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	/*--adjust as necessary--*/
	color: #e8065c;
	font-size: 16px;
	line-height: 15px;
	margin-left: -9px;
	margin-top: -8px;
	position: absolute;
	display:inline-block;
	left: 50%;
	top: 50%;
	content: '\f002';
	
	
	pointer-events: none;
	
 
}

@media only screen and (min-width: 768px) and (max-width: 999px) {
	aside .search input[type="text"] {
		width: 175px;
	}
	
	aside .search span.input:before {

		width: 171px;
	}
	

}


@media only screen and (max-width: 767px) {
	
	aside { 
		position: relative;
		margin-bottom: 50px;
		left: 50%;
		width: 300px;
		margin-left: -150px;
	}
	
}



@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	aside { 
		width: 420px;
		margin-left: -210px;
	
	}
	
}

#tip ul li
{
    padding:5px 0;
}

/* ----------------------------------------------------------- */
/*                     SIDEBAR WIDGETS                         */
/* ----------------------------------------------------------- */
.widget{
	margin-bottom: 26px;
}

.widget:last-child{
	margin-bottom: 19px;
}

.widget.works{
	margin-bottom: 32px;
}

.widget.categories ul,
.widget.works ul,
.widget.tags ul{
	margin-top: 6px;
	margin-bottom: 0;
}


.widget.works ul{
	margin-top: 12px;	
}

.widget.tags ul{
	margin-top: 10px;	
}


/*CATEGORIES*/
.widget.categories ul li{
	margin-bottom: 4px;
	margin-left: -3px;
}


.widget.categories ul li a{
	font-size: 11px;
	padding: 0 3px;
	line-height:0;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
.widget.categories ul li a{
	padding: 1px 3px;
}
}

/*WORKS*/
.widget.works ul li{
	float: left;
	margin-right: 3px;
	margin-bottom: 3px;
	position: relative;
}

.widget.works ul li.last{
   margin-right: 0;
}


.widget.works ul li img{
   display: block;
}

.widget.works ul li .caption{
	position: absolute;
	/*color:#fff;*/
	
	z-index: 9999;
	white-space: nowrap;
	padding: 5px 10px;
	opacity: 0;
	filter: alpha(opacity=0);
	top: 0;
	-webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
	pointer-events: none;
}

.widget.works ul li:hover .caption{

	opacity: 1;
	filter: alpha(opacity=100);
	top: -56px;
}

.ie .widget.works ul li .caption{
	display: none;
}

.widget.works ul li img{
	-webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}


.widget.works ul li:hover img{

	opacity: .5;
	filter: alpha(opacity=50);
}

.widget.works ul li .caption h3{
	/*color: #fff;*/
	display: inline;
}

.widget.works ul li .caption span{
	font-size: 11px;	
	display: block;
}

.widget.works ul li .caption:before{
	content: '';
	position: absolute; 
	display: block;
	top: 100%;
	left:0;
	
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 10px 10px 0 0;
	border-color: #d90000 transparent transparent transparent;
}


/*TAGS*/
.widget.tags ul li a{
	font-size: 11px;
	padding: 0 3px;
	
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  .widget.tags ul li a{
		padding: 1px 3px;
	}
}


.widget.tags ul li{
	float: left;
  
	margin-right: 3px;
	margin-bottom: -2px;
	position: relative;
  padding:0;
  display: inline-block;

}


@media only screen and (min-width: 768px) and (max-width: 999px) {
	.widget.works ul li .caption{
		display: none;
	}
}


/* ----------------------------------------------------------- */
/*                         BUTTONS                             */
/* ----------------------------------------------------------- */

.button a{
	padding: 4px 10px 5px 10px;
	margin-bottom: 10px;
	font-size: 17px;
	line-height: 17px;
	font-family: 'Oswald', sans-serif;
}

.button{
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
}

.wrapper.button{
margin:0;	
}

.wrapper.button a{
	margin:0;
  display: block;
  padding: 9px 0;
}


/* ----------------------------------------------------------- */
/*                         CAROUSEL                             */
/* ----------------------------------------------------------- */
.carousel{
  overflow: hidden;
  text-align: center;
}

.carousel ul{
	display: inline;
	width: 750px;
	height: 100px;
	position: relative;
	float: left;
	padding: 29px 0;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	margin-bottom: 13px
}

.carousel li{
	position: relative;
	float: left;
    margin-right: 20px;
	width: 100px;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.carousel li:first-child{
    margin-left: 20px;
}


.carousel nav{
	display: inline-block;
	height: 12px;
}

.carousel nav span{
    float: right;
	margin-left: 10px;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.carousel nav span:first-child{
    float: left;
	margin-left: 0px;
	margin-right: 8px;
}

.carousel li:hover{
	opacity: .7;
}



@media only screen and (max-width: 767px) {
	.carousel li{
    margin-right: 33px;
	}
	
	.carousel li:first-child{
		margin-left: 33px;
	}
	
}



@media only screen and (min-width: 480px) and (max-width: 767px) {
	.carousel li{
    margin-right: 30px;
	}
	
	.carousel li:first-child{
		margin-left: 30px;
	}
	
}


/* ----------------------------------------------------------- */
/*                       PORTFOLIO                             */
/* ----------------------------------------------------------- */
.portfolio img{

	max-width:100%;
	box-sizing: content-box!important;
	 height:auto; 	
}


.portfolio .mix{
    opacity: 0;
    display: none;
	position: relative;
	cursor: pointer;

}

.portfolio:after{
	content: '';
	display: block;
	width: 100%;
}

.portfolio .gap{
	display:block;
	width: 200px;
}

.portfolio .mix figure {
   position: relative;   
}

.portfolio figcaption,.portfolio .mix .caption{
	font-size: 13px;
	text-align: center;
	width: 100%;
	height: 80px;
  padding: 2px 0;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.portfolio .mix .over {
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	text-align: center;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.portfolio .mix:hover .over {
	opacity: 1;
	filter: alpha(opacity=100);
}

.portfolio .mix .over span{
	display: block;
	top: 50%;
	margin-top: -50px;
	cursor: pointer;
}

.portfolio .mix:hover .over span{
	margin-top: -10px;
}



.controls{
	//float: right;
	text-align: center;	
}

.controls ul li{
	display: inline;
	//float: left;
	cursor: pointer;
	padding: 5px 10px;
	margin-left: 1px;
	font-size: 13px;
	
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.controls ul li a{
	color:#000;
	text-decoration: none;
}

.controls ul li.active{

	  background-color: #2aabe2;
}



/*portfolio single*/

.portfolioSingle {
	width: 100%;
	height: 100%;
    position:fixed;
	z-index:999998;
	visibility: hidden;
}

.portfolioSingle.visible{
	visibility: visible;	
}

.portfolioSingle .bg{
	position: relative;
	display: block;
	width: 100%;
	height:0;
	background: #eee;
	background-image: url(../images/background/portfolio.jpg);
	-webkit-transition: all 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -moz-transition: all 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -ms-transition: all 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -o-transition: all 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    transition: all 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */

}

.portfolioSingle .bg.animate{
	height: 100%;

}

.portfolioSingle .controls{
	width: 100%;
	height: 195px;
	position: absolute;
	left:0;
	bottom: -195px;
	background: #fff;
	-webkit-transition: all 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -moz-transition: all 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -ms-transition: all 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -o-transition: all 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    transition: all 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	.portfolioSingle .controls{
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	}
}

.portfolioSingle .controls.small{
	height: 67px;
}

.portfolioSingle .controls.animate{
	bottom: 0;
    transition-delay: .3s;
}

.portfolioSingle .controls .info{
	position: relative;
	float: left;
	width: auto;
	min-width: 245px;
}

.portfolioSingle .controls .info.fullscreen{
	width: 100%;
}

.portfolioSingle .controls > div:first-child{
	border-right: 1px solid #000;
	padding-right: 30px;
	min-height: 176px;
}

.portfolioSingle .controls > div:first-child.noborder{
	border: none;
}

.portfolioSingle .controls > div{
	margin-top: 10px;
	padding-top: 16px;
	margin-left: 30px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
		-webkit-transition: all 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -moz-transition: all 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -ms-transition: all 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -o-transition: all 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    transition: all 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	.portfolioSingle .controls > div{
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	}
}

.portfolioSingle .controls > div.small{
	margin-top: 0px;
	margin-left: 20px;
	padding-top: 17px;
}


.portfolioSingle .controls .date{
	position: relative;
	float: left;


}

.portfolioSingle .controls .date .day{
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	line-height: 27px;
	border-right: 2px solid #000;
	display: block;
	max-width: 36px;
	max-height: 27px;
	float: left; 
	margin-right: 5px;
	padding-right: 5px;
}

.portfolioSingle .controls .date .month,
.portfolioSingle .controls .date .year{
	position: relative;
	float: left; 
	display: block;
	width: 50%;
	line-height: 10px;
	font-size: 11px;

}

.portfolioSingle .controls .date .month{
	margin-bottom: 7px;
}

.portfolioSingle .controls nav{
      position: absolute;
      float: left;
      width: 100%;
      bottom:20px;
      height: 26px;
	  	-webkit-transition: all 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -moz-transition: all 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -ms-transition: all 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -o-transition: all 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    transition: all 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	.portfolioSingle .controls nav{
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	}
}

.portfolioSingle .controls nav.center{
      top:15px;
	  left: 50%;
  width: 146px;
  margin-left: -87px;
}

.portfolioSingle .controls nav span{
	position: relative;
	display: inline;
	cursor: pointer;
}


.portfolioSingle .controls nav span.zoom{
  float: right;
  margin-right: 30px;
  display: inline;
}

.portfolioSingle .controls nav span.zoom.invisible{
  display: none;
}

.portfolioSingle .controls nav span.zoomout{
  display: none;
  margin: 0 14px;
  
}

.portfolioSingle .controls nav span.zoomout.faIcon:before{
  top:1px;
}

.portfolioSingle .controls nav span.zoomout.visible{
	display: inline;
}

.portfolioSingle .controls nav span.faIcon.searchplus,
.portfolioSingle .controls nav span.faIcon.searchminus{
  width: 24px;
  height: 26px;
}
.portfolioSingle .controls nav span.faIcon.searchplus:before,
.portfolioSingle .controls nav span.faIcon.searchminus:before{
  font-size: 26px;
  line-height: 22px;
}

.portfolioSingle .controls nav span.faIcon.arrowRight,
.portfolioSingle .controls nav span.faIcon.arrowLeft{
  width: 24px !important;
  height: 12px !important;
}

.portfolioSingle .controls nav span.faIcon.arrowRight:before,
.portfolioSingle .controls nav span.faIcon.arrowLeft:before{
  line-height: 36px;
}

.portfolioSingle .controls nav span.faIcon.arrowLeft{
  margin-right: 10px;
}

.portfolioSingle span.faIcon.crosscircle{
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 9px;
	width: 24px;
	height: 24px;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.portfolioSingle span.faIcon.crosscircle.small{
	top: 28px;
	right: 20px;
}

.portfolioSingle .controls p.invisible{
	display: none;
}

.portfolioSingle .imageHolder{
	position: absolute;
	display: block;
	top:50px;
	left:-100%;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -moz-transition: all 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -ms-transition: all 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -o-transition: all 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    transition: all 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */
}

.portfolioSingle .imageHolder.animate{
	opacity: 1;
	filter: alpha(opacity=100);
	left: 50%;
}

.portfolioSingle .imageHolder.fullscreen{
	top:0;
}

.portfolioSingle .imageHolder.tight{
	top:20px;
}

.portfolioSingle .controls .info .title{
	opacity: 1;	
}

/*  #Mobile
================================================== */

@media only screen and (max-width: 767px) {
	
	.portfolioSingle .controls .info .title.invisible{
		opacity: 0;	
	}

}

/* ----------------------------------------------------------- */
/*                         COLORS                              */
/* ----------------------------------------------------------- */
.pagination ul li a

/*FFF*/

h1,
/*.socialIcons.large li a:before,*/
.highlightBg,
.acc .acc-selected,
.ui-tabs .ui-tabs-nav li a:hover,
.ui-tabs .ui-tabs-nav li.ui-tabs-active a,
.acc .acc-selected .icon:before,
#portfolio figure .hover:before,
.portfolioSingle nav span:before,
.flex-direction-nav .flex-next:before,
.flex-direction-nav .flex-prev:before,
nav.main ul li:hover:before,
nav.main .famenu:before,
nav.main ul li a:hover,
nav.main ul li.selected > a,
nav.main ul li.over > a,
.teamInfo,
/*.socialIcons li a:before,*/
.teamInfo h4,
/*.socialIcons.inverted li:hover a:before,
footer .socialIcons li:hover .icon:before,*/
.contactForm input.submit:hover,
.pagination ul li.current,
.pagination ul li a:hover,
aside .search span.submit:before,
.widget.categories ul li a:hover,
.wrapper.button a:hover,
.blogSingleNav:hover h4,
.blogSingleNav:hover .small,
.blogSingleNav:hover .faIcon:before,
.controls ul li:hover,
.controls ul li.active,
/*footer .socialIcons li:hover a:before{
 color: #fff;	*/
}

a
{
    color: #454343;
}
header.main p
{
    color: #454343;
}

header.main h1{
    color: #2aabe2;
    font-family: 'Oswald',sans-serif;
    font-size: 40px;
	line-height: 70px;
	margin-top: 50px;
	text-transform: uppercase;
}
.socialIcons li:hover,
footer .socialIcons li,
.tipsy-inner,
.content,
nav.main ul li,
.whiteBg,
.acc li h4,
.acc .acc-content,
.og-expander,
.faIcon.bordered:hover,
.container,
.copyright,
footer .socialIcons li .icon,
.socialIcons.inverted li,
.pagination ul li a,
.sidebar,
.widget.categories ul li a,
.blogSingleNav,
.homeSliderNav li,
.portfolio .mix:hover .caption{
background-color: transparent;	
}
.container {
    background-color: transparent;
}


h1,
h2,
.socialIcons.large li,
.faIcon.bordered,
aside .search span.input:before{
 border-color: #fff;	
}


.tipsy-arrow {
	border-top-color: #fff;	
}




/*000*/
body,
footer.main .copyright,
.content,
.content h2,
.content h3,
.content h4,
.content h5,

.tipsy-inner,
.whiteBg,
.whiteBg h4,
.acc h4,
.acc .acc-content,
.faIcon.small.dark:before,
.faIcon.tiny.dark:before,
.faIcon.dark:before,
.acc h4 .icon:before,
.whiteBg a,
.og-details h3,
.og-details p,
.tweet_avatar:before,
.tweet_list .tweet_time a,
.ui-tabs .ui-tabs-nav li a,
nav.main ul li a,
nav.main .famenu:hover:before,
nav.main .famenu.open:before,
nav.main ul li ul li a,
.quote,
.socialIcons li:hover a:before,
.copyright,
footer .socialIcons li a:before,
.faIcon:before,
footer .socialIcons li .icon:before,
.socialIcons.inverted li a:before,
.greyBox span:before,
.blogMeta a,
.blogTitle a,
.wrapper.button a,
.pagination ul li a,
.widget.categories ul li a,
.blogLink,
.comment .reply a,
.controls ul li,
.portfolio .mix .caption,
.portfolioSingle .controls nav span.faIcon:before,
.portfolioSingle span.faIcon:before,
.carousel nav .faIcon:before{
	 color: #000;	
}

.contactForm input, select,
.contactForm textarea,
.content h1,
.content h2,
.blogMeta,
.blogMeta .date .day,
aside .search span.input.focus:before,
.comment .reply a,
.portfolioSingle .controls .date .day,
.homeSliderNav li{
	 border-color: #D3D3D3;	
}

html,
.button a,
.pagination ul li.current,
 aside .search input[type="submit"],
.widget.tags ul li a,
.wrapper.button a:hover,
.blogSingleNav:hover
        {
             background-color: #fff;
        }
.homeSliderNav li:hover,
.homeSliderNav li.selected{
 background-color: #dd1f24;
}

.contactForm input.submit
{
    border-color: #D3D3D3;
}

/*333*/
p{
	color: #454343;
	
	
}

.blogExcerpt p{
	color: #454343;
	text-align:justify;
	
}

        .desc p
        {
            font-size:small;
            color: #9f9f9f;
        }
/*EEE*/
.progressbars .under,
.ui-tabs .ui-tabs-nav li a,
nav.main .famenu:hover,
nav.main .famenu.open,
.greyBox,
.carousel ul,
.greyBg,
.comment .commentHeader,
.controls ul li,
.portfolio .mix .caption,
nav.main ul li ul,
nav.main ul li ul li{
    background-color: #fff;
}
.wrapper.button a
{
    background-color: #f1f1f1;
}
/*  #Mobile
================================================== */

@media only screen and (max-width: 767px) {
	
.header{
    background-color: #eee;
}

}

.portfolio .mix .over{
 background: rgba(238, 238, 238, .7);
 filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CC129078', endColorstr='#CC129078');
}


/*777*/
.blogSingleNav .small{
	color: #777;
}
.contactForm input:focus,
.contactForm textarea:focus{
	border-color: #D3D3D3;;
}


.container.transparent{
	background-color: transparent;	
}

/*
///////////////
HIGHLIGHT COLOR
///////////////
*/

.highlightColor,
.socialIcons.large li:hover a:before,

nav.main ul li:before,
a.link:hover,
.tweet_list li:hover .tweet_avatar:before,
.tweet_list li a,
.tweet_list li a:hover,
.faIcon.bordered:hover:before,
.portfolioSingle nav span:hover:before,
.flex-direction-nav .flex-next:hover:before,
.flex-direction-nav .flex-prev:hover:before,
a.link,
.blogMeta a:hover,
.blogTitle a:hover,
.blogMeta .meta .commentNumber:hover .faIcon:before,
.blogLink:hover,
.comment .reply a:hover,
.carousel nav .faIcon:hover:before,
.portfolioSingle .controls nav span.zoomout.faIcon:hover:before,
.portfolioSingle .controls nav span.zoom.faIcon:hover:before,
.portfolioSingle .controls nav span.searchplus.faIcon:hover:before,
.portfolioSingle .controls nav span.searchminus.faIcon:hover:before,
.portfolioSingle .controls nav span.faIcon.arrowRight:hover:before,
.portfolioSingle .controls nav span.faIcon.arrowLeft:hover:before,
.portfolioSingle span.faIcon.crosscircle:hover:before{
	color: #d90000;
}

header,
footer.main,
.inner-border,
.socialIcons li,
.socialIcons.large li:hover,
.faIcon,
.faIcon.bordered:hover,
a.link,
.comment .reply a:hover{
 border-color: #d90000;
}

.progressbars .over,
.mailchimp input[type="submit"],

.highlightBg,
.navBtn,
nav.main ul li span,
nav.main .famenu span,
.acc .acc-selected,
.ui-tabs .ui-tabs-nav li a:hover,
.ui-tabs .ui-tabs-nav li.ui-tabs-active a,
nav.main ul li:hover:before,
nav.main ul li:hover,
nav.main ul li.selected,
nav.main .famenu,
.teamInfo,
footer .socialIcons li:hover,
.socialIcons.inverted li:hover,
.button a:hover,
.contactForm input.submit:hover,
.pagination ul li a:hover,
aside .search span.submit:hover input[type="submit"],
.widget.categories ul li a:hover,
.widget.works ul li .caption,
.widget.tags ul li a:hover,
.controls ul li:hover,
.controls ul li.active{
	background-color: #2aabe2;
}
        header.main{
            background-color: transparent;
        }


#portfolio figure .hover{
 background: rgba(18, 144, 120, .8);
 filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CC129078', endColorstr='#CC129078');
}


/*team color*/
.teamInfo.blue{
	background:#2c83ef;
}
.teamInfo.orange{
	background:#fc4349;
}
.teamInfo.green{
	background:#517360;
}
.teamInfo.red{
	background:#be1e4a;
}



@media(min-width: 768px){
	.wpcf7-form #left {
	    width: 48%;
	    float: left;
	}
	 
	.wpcf7-form #right {
	    width: 48%;
	    float: right;
	}
	 
	.wpcf7-form .clearfix{
	    content:"";
	    display:table;
	    clear:both;
	}
	 
}

.testimonial-author{

	color:#0066CC;
	margin-bottom: 0;
}

.testimonial-pic{
	text-align: center;
}
.inside-box p{
	padding-right: 20px;
	text-align: left;

}

@media(max-width: 767px){

	.phoneGap{ 
		height: 10px; 
		display: none;
	}

	.gaprow{
		margin-bottom: 20px;
	}

	#aligner{
		display: none;
	}

}
@media(min-width:768px){
	.topspace{
		padding-top:250px;
	}
}

ul.archivelist{
	margin-left: 0;
}

.videobox{

	position: relative;
	left:-32px;
}

.buylink{

	text-align: center;
	margin:20px 0 10px;
}

