/**
 * @version		1.3
 * @package		SimpleTabs
 * @author    Fotis Evangelou - http://nuevvo.com/labs/simpletabs
 * @copyright	Copyright (c) 2009-2011 Fotis Evangelou / Nuevvo Webware Ltd. All rights reserved.
 * @license		GNU/GPL license: http://www.gnu.org/copyleft/gpl.html
 */
 
div.simpleTabs { padding:5px; }
div.simpleTabs ul{
	position: relative;
	left:-20px;
}
.customerservice div.simpleTabs ul{
    left:0;
}
div.simpleTabs ul li {
    font: 14px/24px 'Droid Sans', Arial, sans-serif;
	color: #000000;
    list-style:square;
    padding: 8px 0;
}
ul.simpleTabsNavigation { margin:6px 10px 0 10px; 
    padding:0; text-align:left; 
    width:600px; 
} /* chaged width from 450px to 600px */

.customerservice ul.simpleTabsNavigation {
    width:895px;
}
ul.simpleTabsNavigation li { list-style:none; display:inline; margin:0; padding:0 1px;}
ul.simpleTabsNavigation li a { border:1px solid #2AABE2; padding:9px 8px; background:#2AABE2; color:#fff; font-size:12px; text-decoration:none; font: 14px/24px 'Oswald',sans-serif;}

/*ul.simpleTabsNavigation li a.buylink {padding:9px 8px; background:#FFF;border:none;}*/
ul.simpleTabsNavigation li a:hover { background-color:#3BBDEA; }
ul.simpleTabsNavigation li a.current { border:1px solid #e32129; background:#e32129; color:#ffffff; border-bottom:1px solid #e32129; }
div.simpleTabsContent { 
    position: relative; left:5px; 
    padding:5px 10px 10px; 
    margin-top:13px; 
    display:none; 
}
div.simpleTabsContent.currentTab { display:block; }
.simpleTabsContent span{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 20px;
    padding-left: 10px;
	font-weight: bold;
    color: rgb(107, 107, 107);
}
.simpleTabsContent p {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 20px;
    padding-left: 10px;
    color: rgb(107, 107, 107);
}
.simpleTabsContent table th,td{border: 1px solid black; padding: 5px;word-wrap:break-word;}
.simpleTabsContent table th{font-weight:bold;}
.simpleTabsContent table{margin: 0 0 15px 0;}
.simpleTabsContent h4{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    line-height: 20px;
    padding-left: 10px;
    color: rgb(107, 107, 107);
	font-weight:bold;
}
/*code added for removing spec from list*/
div.simpleTabs ul li:nth-child(2)
{
/* display:none; */
}
 

 .centricitytab img{

    max-width:100%;
    height:auto;
 }

.centricitytab h3{
    color:#69afd2;
 }