/*
* LG Skeleton
* Copyright 2013, LGLab
* 19/01/2013
*/


/* #Base 960 Grid
================================================== */


    /* Containers */
	
    .wrapper                                    { float: left; width: 100%; overflow: hidden;}
	/*
	.ie8 .wrapper                               { overflow: visible; min-width: 1000px;}
	*/
    .container                                  { position: relative; width: 990px; margin: 10px 0 0 10px; padding: 0;}

	.container1                                  { position: relative; width: 840px; margin: 10px 0 0 10px; padding: 0;}

	.one,
	.one1,
	.one2,
	.one2.tight3,
	.one.tight,
	.one.tight1, 
	.one1.tight2,
	.onehalf,
	.onehalf.tight,
	.onehalf.tight1,
	.onehalf.tight2,
	.onehalf.medium,
	.onethird,
	.twothird,
	.onefourth,
	.threefourth,
	.onefifth,
	.twofifth,
	.threefifth,
	.fourfifth                                  { position: relative; float: left; display: inline; margin-left: 20px;}
	
	.one                                        { width: 960px;}
	.one1                                       { width: 460px;}
    .one2                                       { width: 260px;}
    .one.tight                                  { width: 800px;}
	.one1.tight2                                { width: 460px;}
	.one2.tight3                                { width: 260px;}
	.one.tight1                                 { width: 950px;}
	.onehalf                                    { width: 470px;}
	.onehalf.tight2                             { width: 800px;}
    .onehalf.tight1                             { width: 940px;}
	.onehalf.tight                              { width: 220px;}
	.onehalf.medium                             { width: 245px;}
	.onethird                                   { width: 306px;}
	.twothird                                   { width: 634px;}
	.onefourth                                  { width: 225px;}
	.threefourth                                { width: 715px;}
	.onefifth                                   { width: 176px;}
	.twofifth                                   { width: 372px;}
	.threefifth                                 { width: 568px;}
	.fourfifth                                  { width: 764px;}
	
	.onethird.full                              { width: 320px; margin-left:0;}
	.onefourth.full                             { width: 240px; margin-left:0;}
	.onefifth.full                              { width: 192px; margin-left:0;}
	
	/* Rows */
	.norow                                      { margin-bottom: 0px; }
	.row-ten                                    { margin-bottom: 10px; }
    .row-fourteen                               { margin-bottom: 14px; }
	.row-fifteen                                { margin-bottom: 15px; }
    .row                                        { margin-bottom: 20px;}
	.row-thirty                                 { margin-bottom: 30px; }
	.row-thirtyfive                             { margin-bottom: 35px; }
	.row-fourty                                 { margin-bottom: 10px; }
	.row-fifty                                  { margin-bottom: 50px; }
	.row-sixty                                  { margin-bottom: 60px; }
	.row-seventy                                { margin-bottom: 70px; }
	.row-eighty                                 { margin-bottom: 80px; }
	.row-hundred                                { margin-bottom: 100px; }
	.row-twohundred                             { margin-bottom: 200px; }


	/* Tops */
	.top-minusthree                             { margin-top: -3px; }
	.notop                                      { margin-top: 0px; }
	.top-three                                  { margin-top: 3px; }
	.top-five                                   { margin-top: 5px !important;}
	.top-ten                                    { margin-top: 10px; }
	.top-fifteen                                { margin-top: 15px; }
	.top-seventeen                              { margin-top: 17px; }
	.top-twenty                                 { margin-top: 20px; }
	.top-thirty                                 { margin-top: 30px; }
	.top-fourty                                 { margin-top: 40px; }
	.top-sixty                                  { margin-top: 60px; }
	.top-eightyfive                             { margin-top: 85px; }
	.top-ninetyfive                             { margin-top: 95px; }
	.top-hundred                                { margin-top: 100px; }
	.top-hundredten                             { margin-top: 110px; }
	.top-hundredfifteen                         { margin-top: 115px; }
	.top-hundredthirty                          { margin-top: 130px; }
	.top-hundredfifty                           { margin-top: 150px; }
	.top-hundredsixty                           { margin-top: 160px; }
	.top-hundredseventy                         { margin-top: 170px; }
	.top-twohundred                             { margin-top: 200px; }
	
	/* Right */
	.right-ten                                  { margin-right: 10px; }
	.right-fifteen                              { margin-right: 15px; }
	.right-twenty                               { margin-right: 20px; }
	
	/* Remove */
	.remove-left                                { margin-left: 0px; }
	.left-twenty                                { margin-left: 20px; }
	
	
	/* Paddings */
	.pad20                                      { padding: 20px; }
	.pad20left                                  { padding-left: 20px; }
	.pad60left                                  { padding-left: 60px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
	.pad20top 									{padding-top: 20px;}
	.pad15top 									{padding-top: 15px;}

	
	
	/* Images */

	img.scaletofit                             { width: 100%; max-width: 100%; height: auto; display: block;}
	.phoneGap                                  { height: 10px; display: none;}
	
	
	.font-twenty,
	p.font-twenty                              { font-size: 20px; line-height: 26px;}
	
	.font-twenty li { margin-bottom: 6px;}




/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 999px) {
		
        .container                                  { width: 500px;}
        .one                                        { width: 728px;}
        .container1                                  { width: 500px;}
        .one1                                        { width: 728px;}
        .one2                                        { width: 728px;}
		.onehalf                                    { width: 354px;}
		.onethird                                   { width: 228px;}
		.twothird                                   { width: 480px;}
		.onefourth                                  { width: 167px;}
		.threefourth                                { width: 541px;}
		.onefifth                                   { width: 130px;}
		.twofifth                                   { width: 278px;}
		.threefifth                                 { width: 430px;}
		.fourfifth                                  { width: 580px;}
		
		.onethird.full                              { width: 243px;}
	    .onefourth.full                             { width: 182px;}
	    .onefifth.full                              { width: 146px;}
		
		}


/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
		
        .container                                 { width: 300px; margin: 95px auto 0 auto;}
		.container.blog                            { margin: 10px auto 0 auto;}
		.container1                                 { width: 300px; margin: 95px auto 0 auto;}
		.container1.blog                            { margin: 10px auto 0 auto;}
		.one, .one1, .one2,
		.onehalf,
		.onethird,
		.twothird,
		.onefourth,
		.threefourth,
		.onefifth,
		.twofifth,
		.threefifth,
		.fourfifth                                 { margin-left: 15px; margin-right: 15px; width: 270px;}
		
		.top-hundredten, .top-hundredfifteen       { margin-top: 0px; }
		
		.onethird.full,
	    .onefourth.full,
	    .onefifth.full                              { width: 270px;}
		
		

		.one.tight,.one.tight1,.one2.tight3,.one1.tight2,
		.onehalf.tight,
		.onehalf.tight1,
		.onehalf.tight2,
		.onehalf.medium                             { width: 270px; margin-left: 15px;}
		
		.left-twenty                                { margin-left: 15px; }
		
		.phoneGap                                  { display: inline-block;}
		

    }


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
	
        .container                                 { width: 420px; }
        .container1                                 { width: 420px; }
        .one,.one1,.one2,
		.onehalf,
		.onethird,
		.twothird,
		.onefourth,
		.threefourth,
		.onefifth,
		.twofifth,
		.threefifth,
		.fourfifth                                 { width: 390px;}
		
		.onethird.full,
	    .onefourth.full,
	    .onefifth.full                              { width: 390px;}
		
		.one.tight,
		.one.tight1,
		.one1.tight2,
		.one2.tight3,
		.onehalf.tight,
        .onehalf.tight1,
		.onehalf.medium                             { width: 390px;}
		
    }


/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container:after                               { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after                                     { content: '\0020'; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
	
    .row:after,
    .clearfix:after                                { clear: both;}
	
    .row,
    .clearfix                                      { zoom: 1; }


    /* You can also use a <br class="clear" /> to clear columns */
    .clear                                         { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0;}



