@charset "utf-8";
/**
* Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
* http://cssreset.com
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption, tfoot, thead, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;background:#f5f5f5}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
::selection {background: #a2a2a2;color: #fff; /* Safari - webkit */}
::-moz-selection {background: #a2a2a2;color: #fff; /* Firef x */}
.clear_fix{clear:both;height:0;font-size:1px;line-height:0px;}



/* Login Part
-----------------------------------------------------------------*/
#login_part{width:400px;margin:10% auto 0 auto;background:#fff;-moz-box-shadow: 0 0 5px #c5c5c5;-webkit-box-shadow: 0 0 5px #c5c5c5;box-shadow: 0 0 5px #c5c5c5;}
#login_head{background:#009cc6;padding:25px 0 25px 0;text-align:center;}
#login_txt{width:320px;margin:25px auto 0 auto;padding:0 0 25px 0}
.login_field{border:solid 1px #ccc;color:#6e6e6e;font:400 13px 'Roboto', Arial, sans-serif;padding:14px 10px 14px 10px;margin:0 0 8px 0;width:300px;-webkit-border-radius: 4px;
-moz-border-radius: 4px;border-radius: 4px;}
.submit_btn{background:#009cc6;color:#fff;text-transform:uppercase;font:700 14px 'Roboto', Arial, sans-serif;cursor:pointer;border:0;padding:10px 30px;-webkit-border-radius: 4px;
-moz-border-radius: 4px;border-radius: 4px;}
.submit_btn:hover{background:#474747;}
.login_field:focus{border:solid 1px #009cc6}
.head1{display:block;margin:0 0 8px 0;color:#474747;font:700 16px 'Roboto', Arial, sans-serif;text-transform:uppercase;}
.bg_login{background:#e7e8e9}


/* Dashboard Part
-----------------------------------------------------------------*/
#header_part{background:#009cc6;padding:0 0 0 0;}
#header_fix{width:1000px;margin:0 auto 0 auto;}
#main_logo{float:left;padding:20px 0 20px 0}
#main_menu{float:left;margin:27px 0 0 60px;}
#main_menu a{color:#fff;text-decoration:none;font:700 16px 'Roboto', Arial, sans-serif;padding:0 20px 0 20px;background:url(../images/devider.jpg) no-repeat 0 5px;}
#main_menu a.first{background-image:none;}
#main_menu a:hover{color:#ffd735}
#logo_main_right{float:right;position:relative;padding:25px 0 0 0}
#bpl_round{position:absolute;right:0;top:40px;}
#welcome_txt{text-align:center;padding:150px 0 0 0;color:#3e3e3e;font:500 25px 'Roboto', Arial, sans-serif;text-shadow:1px 1px 1px  #fff;}
#inner_page_content{width:1000px;margin:0 auto 100px auto;padding:40px 0 0 0;position:relative}
h1{font:500 20px 'Roboto', Arial, sans-serif;color:#474747;margin:0 0 20px 0}
.table1 {border: 1px solid #d5d5d5;border-collapse: collapse;color:#6e6e6e;font:normal 13px 'Roboto', Arial, sans-serif;}
.table1 td{padding:14px;border: 1px solid #e7e7e7;}
.table1 tr {border: 1px solid #d5d5d5;padding:14px;}
.head2{font:700 14px 'Roboto', Arial, sans-serif;color:#fff;}
.add a{text-decoration:none;color:#fff;display:block;background:#f05771 url(../images/add.png) no-repeat 10px 6px;position:absolute;right:0;padding:7px 20px 7px 40px;font:700  14px 'Roboto', Arial, sans-serif;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;}
.add a:hover{background-color:#474747;}
.field1{border:solid 1px #ccc;color:#6e6e6e;font:400 13px 'Roboto', Arial, sans-serif;padding:14px 10px 14px 10px;width:300px;-webkit-border-radius: 4px;
-moz-border-radius: 4px;border-radius: 4px;}
.field1:focus{border:solid 1px #009cc6}
#article_part_dash{width:auto;padding:35px 0 0 0;}
.add_art1{color:#fff;background:#1194cb;font:700 17px 'Roboto', Arial, sans-serif;text-decoration:none;text-shadow:1px 1px 1px #1194cb;padding:20px 25px;-webkit-border-top-left-radius: 6px;-webkit-border-bottom-left-radius: 6px;-moz-border-radius-topleft: 6px;-moz-border-radius-bottomleft: 6px;border-top-left-radius: 6px;
border-bottom-left-radius: 6px;}
.add_art1:hover{background-color:#1b374c}
.edit_art1{color:#fff;background:#f05771;font:700 17px 'Roboto', Arial, sans-serif;text-decoration:none;text-shadow:1px 1px 1px #f05771;padding:20px 25px;-webkit-border-top-right-radius: 6px;-webkit-border-bottom-right-radius: 6px;-moz-border-radius-topright: 6px;-moz-border-radius-bottomright: 6px;border-top-right-radius: 6px;
border-bottom-right-radius: 6px;}
.edit_art1:hover{background-color:#b61a35}
.link1:link,.link1:visited{color:#b86bab;text-decoration:none;}
.link1:hover{color:#743669;text-decoration:underline;}
.note{color:#f05771;font:400 11px 'Roboto', Arial, sans-serif;padding:0 0 0 30px}
.image_field{width:55px;height:75px;background:#e7e8e9;float:left;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.image_field img{width:100%;height:100%;}
.firld{margin:30px 0 0 30px;}



/*Footer Part
--------------------------------------------------------------*/
#footer_part{position:fixed;bottom:0;width:100%;background:#e7e8e9;}
.coor1{float:left;background:#04b1c1;width:20%;height:5px}
.coor2{float:left;background:#1194cb;width:20%;height:5px}
.coor3{float:left;background:#fcb040;width:20%;height:5px}
.coor4{float:left;background:#f05771;width:20%;height:5px}
.coor5{float:left;background:#b86bab;width:20%;height:5px}
#footer_fix{width:1000px;margin:0 auto 0 auto;position:relative}
#footer_copy{float:left;padding:20px 0;font:400 13px 'Roboto', Arial, sans-serif;color:#5d5d5d;}
#logo_bottom{position:absolute;right:0;top:-32px}



/*Table Style*/
.dataTable th, 
.dataTable td           { padding: 14px; border: 1px solid #e7e7e7; display: table-cell; vertical-align: middle; font-family: 'Roboto', Arial, sans-serif; color: #333}
.dataTable td           { font-size: 15px; color: #333}
.dataTables_filter label{ float: right; margin-bottom: 8px}
.dataTables_length select             	{ float: right; margin-bottom: 8px; height: 32px;}
.dataTables_length input[type="text"] 	{ height: 32px;}
div#example_info                      	{ font-family: 'Roboto', Arial, sans-serif; margin-top: 20px; font-size: 14px; color: #888;}
.dataTables_paginate ul               	{ float: right;} 
.pagination                           	{ margin: 12px 0;}



.alert p { padding: 5px 0;}

#btnAddPage 				{ background: #F1F1F1; border-radius: 3px; border: #DADADA 1px solid; padding: 5px 15px; float: right; text-decoration: none !important;}
#btnAddPage:hover			{ background: #eee; border-radius: 3px; border: #ddd 1px solid; ;}
#pageTab 					{ margin-bottom: 0; border: 0; width: 730px;}
#pageTab.nav-tabs > li > a 	{ padding: 5px 15px; background: #fdfdfd; border: 1px #eee solid;} 
#pageTab.nav-tabs > li > a:hover,
#pageTab.nav-tabs > li > a:focus,
#pageTab.nav-tabs > li.active > a 	{ padding: 5px 15px; background: #f1f1f1; border: 1px #ddd solid; text-decoration: none;} 
#pageTab .close 					{ margin-left: 5px; opacity: 0.3; filter: alpha(opacity=30); display: inline-block; height: 10px; line-height: 16px; position: relative; top: 1px;
}
