a {
	color:#00B4FF;
}
input[type="button"], input[type="submit"], button {
	background:#00b4ff;
}
.project-lightbox a.close:hover{
	background:#00B4FF;
}
.level .color1{
	background:#53ccff;
}
.level .color2{
	background:#47bced;
}
.level .color3{
	background:#31a5d5;
}
.level .color4{
	background:#1f90be;
}
.level .color5{
	background:#0e7aa6;
}
.level .color6{
	background:#096286;
}
.Gallery {
	background:#fff;
}
.twitter-comment .tweetie {
	color:#33ccff;
}